<h3> <%=@game.player1.name%> clocking in to kick some a$$ </h3>
<h3> <%=@game.player2.name%> back in the game for some major love </h3>

<%=@game.player1.name%>: <%=@game.player1.hp%> HP
<h>
</h>
<%=@game.player2.name%>: <%=@game.player2.hp%> HP

<form action="/attack">
  <input type='submit' value="Attack">
</form>
