<h3> <%=@player1_name%> clocking in to kick some a$$ </h3>
<h3> <%=@player2_name%> back in the game for some major love </h3>

<%=@player1_name%>: <%=@player1_hp%> HP
<h>
</h>
<%=@player2_name%>: <%=@player2_hp%> HP

<form action="/attack">
  <input type='submit' value="Attack">
</form>
